{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %} 

{% block content %}
<br />
<!-- Parking Occurrence  -->
<div class="row">
	<div class='col-sm-3'>
    	<div class="form-group">
        	<div class='input-group date' id='datetimepicker'>
            	<input type='text' class="form-control" />
                 <span class="input-group-addon">
                 	<span class="glyphicon glyphicon-calendar"></span>
                 </span>
                </div>
            </div>
        </div>
	<div class="col-sm-12">
		<button id="btnAnimation" onclick="startStop()" class="btn btn-default btn-sm" style="margin-bottom: 8px; width:175px;">Започни Aнимација</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
		<span id="title" style="font-weight: bold; font-size: large;"></span>
	</div>
	<div class="col-sm-12">
		<div id="mapHeat" style="height: 500px;"></div>
	</div>	
	{{ min }}
	{{ max }}
</div>
<hr />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDO3vN1CGPR58k_TOLZzrJauDyQ0uTrQY&libraries=visualization"></script>
<script src='{% static "js/dv-utilities.js" %}' ></script>

<script src='{% static "js/moment.min.js" %}'></script>
<script src='{% static "js/bootstrap-datetimepicker.js" %}'></script>
<script>
$("#btnAnimation").hide();

$(function () {
    $('#datetimepicker').datetimepicker({
    	format: 'DD/MM/YYYY'
    });
    
    $('#datetimepicker').data("DateTimePicker").maxDate('{{max}}');
    $('#datetimepicker').data("DateTimePicker").minDate('{{min}}');
    
    $("#datetimepicker").on("dp.change", function(e) {
    	getParkingsForDate ();
    });
   
});




var bermudaCenter = new google.maps.LatLng(32.319290832835364, -64.77584148168944); 
var bermudaZoom = 12;
var parkingEventsDay = null;
var running = false;
var mapHeat, heatmap;
var heatMapData=new google.maps.MVCArray();

	function getParkingsForDate () {
		var date = $('#datetimepicker').data('date');
		if (date != undefined){
			if (parkingEventsDay!=null){
				heatMapData = new google.maps.MVCArray();
				heatmap.setMap(null);
				heatmap = new google.maps.visualization.HeatmapLayer({
			        map: mapHeat,
			        data: heatMapData,
			        radius: 18,
			      });
				parkingEventsDay = null;
			}
			running = false;
			$("#btnAnimation").hide();
			//$("#btnAnimation").text("Start Animation");
			$("#btnAnimation").text("Започни Aнимација");
			$("#title").text("");
			$.getJSON( '{% url "getparkingsfordate" %}', {
		        date: date
		     })
			.done(function(data,status,xhr) {
				if (status == "success"){
					if (data['PARKINGDATA']!=null && data['CONSTRAINTS']!=null){
						parkingEventsDay = new ParkingEventsDay (data['CONSTRAINTS'].DAYTYPE, data['CONSTRAINTS'].MINHOUR,
								data['CONSTRAINTS'].MAXHOUR, data['PARKINGDATA']);	
						$("#btnAnimation").show();
						
					} else {
						alert ("No parking events for selected date");
					}
					
	  			} else {
		  			alert (status);
	  			}
			})
			.fail(function(object, t, message) {
	  			alert(t+"\n"+message);
			});
		} else {
			alert("Please select date");
		}
	
	}

	function startStop() {
		if (!running) {
			running = true;
			if (parkingEventsDay.parkingCounter==0){
				if (parkingEventsDay!=null){
					heatMapData = new google.maps.MVCArray();
					heatmap.setMap(null);
					heatmap = new google.maps.visualization.HeatmapLayer({
	    		        map: mapHeat,
	    		        data: heatMapData,
	    		        radius: 18,
	    		      });
				}
			} 
		      //$("#btnAnimation").text("Pause Animation");
		      $("#btnAnimation").text("Паузирај Анимација");
		      
		      nextMinute();
		} else {
			//$("#btnAnimation").text("Resume Animation");
			$("#btnAnimation").text("Продолжи со анимацијата");
			running = false;
		}
	}
	
	function nextMinute() {
		
		if (!running) {
				return;
		}
		
		$("#title").text(parkingEventsDay.GetDayInfo());	
		parkingEventsDay.RemoveHeatEvents(heatMapData, parkingEventsDay.day.hour, parkingEventsDay.day.minute);
		var parkings = parkingEventsDay.GetCurrentParkings();
		
		for (i = 0; i < parkings.length; i++) {	
			var inner = new google.maps.LatLng(parkings[i]['LATITUDE'], parkings[i]['LONGITUDE']);  
			inner.endHour = parseInt(parkings[i]['ENDTIME']);
			inner.endMinute = parseInt(parkings[i]['ENDMINUTE']);
			heatMapData.push(inner);
		}
		
		if (!parkingEventsDay.hasParkings){
			running = false;
			//$("#btnAnimation").text("Start Animation");
			$("#btnAnimation").text("Започни Aнимација");
			parkingEventsDay.Reset();
			return;
		}
		
	    setTimeout(nextMinute, CounterTimeout);	      
	}
			
	$("#btnAnimation").mouseup(function(){
	    $(this).blur();
	});
		
	<!-- Setup the heat map -->
	mapHeat = new google.maps.Map(document.getElementById('mapHeat'), {
		zoom: bermudaZoom,
		center: bermudaCenter,
		mapTypeId: 'satellite'
		});
	
	heatmap = new google.maps.visualization.HeatmapLayer({
        map: mapHeat,
        data: heatMapData,
        radius: 18,
      });

</script>
{% endblock content %}